@import "./vars.scss";

.dropdown {
  border-bottom: thin #dddddd solid;
}

.dropdownBody {
  padding-left: 0;
  padding-right: 0;
  max-height: fit-content;
  transition: max-height;
  transition-duration: .5s;
  transition-timing-function: ease-in;
  &.hidden {
    max-height: 0;
  }
}

.dropdownBody .sectionHeaderLine .sectionTitle {
  flex-grow: 5;
}

.sectionHeaderLine {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 6px 0;
  .sectionTitle {
    min-width: 102px;
    font-weight: 600;
    flex-basis: 75px;
    flex-shrink: 0;
    flex-grow: 0
  }
}

.dropdown .dropdownBody {
  padding: 0px 12px;
  overflow-y: hidden;
  transition-property: max-height;
  transition-duration: .5s;
  transition-timing-function: ease-in;
}

.dropdownIndicator{
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-basis: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  background-image: url("../assets/arrow-drop-down.svg");
  cursor: pointer;
  &.up {
    transform: rotate(180deg);
  }
}

.userSelection {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: $teal-dark;
  flex-grow: 10;
  padding: 0 6px;
}

.selectionCount {
  padding: 1.5px 5px;
  border-radius: 3px;
  background-color: $teal-light-25;
  flex-basis: 16px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  height: 16px;
}

.options {
  display: flex;
  flex-direction: column;
  padding: 12px 0px;
}
