@import "./vars.scss";

.popUpContent {
  position: absolute;
  width: 310px;
  left: calc(50% - 155px);
  top: 2.5vh;
  z-index: 3;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 0 solid $teal-dark;
  border-radius: 6px;
  max-height: 95vh;
  border-width: 1px;
  .popUpBody {
    background-color: white;
    padding: 12px;
    font-size: 13px;
  }
}

.popUpFooter {
  flex-basis: 50px;
  .controlRow {
    display: block;
    text-align: right;
  }
}

.cover {
  position: absolute;
  background-color: rgba(0,0,0,0.32);
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}