@import "./vars.scss";

.popUpContent {
  position: absolute;
  left: 12px;
  right: 12px;
  top: 35px;
  z-index: 3;

  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background-color: white;

  border: 0 solid $teal-dark;
  border-radius: 6px;

  max-height: 1000px;
  border-width: 1px;
}

.popUpFooter {
  flex-basis: 50px;
  .controlRow {
    display: block;
    text-align: right;
  }
}

.cover {
  position: absolute;
  background-color: rgba(0,0,0,0.32);
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.popUpBody {
  background-color: white;
  padding: 12px;
}